body {
  background-color: #e9e5d6;
}
.App {
  margin: 20px auto;
  // border: 5px solid black;
  padding: 50px;
  max-width: 480px;
}

h2,
h3,
h4,
p {
  color: #362706;
}

.main-btn {
  background-color: #464e2e;
}

.main-btn:hover {
  color: #acb992;
  cursor: pointer;
}

.secondary-btn {
  background-color: #acb992;
}

.nav-card {
  height: 10rem;
  overflow: hidden;
}

.card-img {
  opacity: 0.4;
}

.center-nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  font-size: 40px;
  font-weight: 500;
}

.center {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.arrange-card-nav {
  display: flex;
  flex-direction: column;
}

.recipe-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.recipe-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.recipe-title {
  text-decoration: none;
  color: black;
}

.recipe-title:hover {
  color: #acb992;
  cursor: pointer;
}

.list-style {
  list-style: none;
  padding-left: 0;
}

.page-title {
  margin-bottom: 50px;
}

.label-margin {
  margin-right: 10px;
  background-color: #acb992;
}

.textarea-height {
  height: 300px;
}

.list-title {
  font-weight: bold;
}

.list-subtitle {
  color: grey;
  font-style: italic;
}

.delete-btn {
  margin: auto 12px;
  color: #acb992;
}

.delete-btn:hover {
  color: #464e2e;
  cursor: pointer;
}

.day-btn {
  padding: 5px 17px;
  background-color: #acb992;
}

.day-btn:focus {
  border-style: inset;
  border-color: #464e2e;
}

.week-layout {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.view-page-title {
  margin-bottom: 30px;
}
