body {
  background-color: white;
}
.App {
  margin: 50px auto;
  // border: 5px solid black;
  padding: 80px;
}

.nav-card {
  width: 50rem;
  height: 25rem;
  overflow: hidden;
}

.card-img {
  opacity: 0.4;
}

.center-nav-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-nav {
  font-size: 50px;
  font-weight: 500;
}

.center {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.arrange-card-nav {
  display: flex;
  flex-direction: column;
}

h2 {
  font-size: 400%;
}

p {
  font-size: 200%;
}
